[Unit]
Description=Retstat's service file

[Service]
Type=exec
WorkingDirectory=/etc/retstat
ExecStart=/usr/bin/retstat

[Install]
WantedBy=multi-user.target
